div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body:before
{
   content: "";
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: -1;
   background-image: linear-gradient(to right, #D0DEF0 0%, #DBE6F4 25%, #D0DEF0 100%);
}
body
{
   background-color: #EFF2FF;
   color: #000000;
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 12px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #FF0000;
   text-decoration: none;
}
a:hover
{
   color: #DC143C;
   text-decoration: underline;
}
#Layer1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #000000;
   border-radius: 0px;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_TextMenu1
{
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
   font-family: "Times New Roman";
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   font-size: 12px;
   margin: 0;
   text-align: left;
   overflow: hidden;
}
#wb_TextMenu1 span
{
   margin: 0 10px 0 0px;
}
#wb_TextMenu1 a
{
   color: inherit;
   text-decoration: inherit;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#HorizontalLine1
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#Table1
{
   border-radius: 0px;
   border: 1px solid transparent;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table1 td, #Table1 th
{
   padding: 0;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 34px;
   height: 34px;
   font-size: 0;
}
#Table1 .cell1
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 60px;
   height: 34px;
   color: #000000;
   font-family: "Times New Roman";
   font-size: 12px;
   line-height: 13.5px;
}
#Table1 .cell2
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: middle;
   width: 40px;
   height: 34px;
   font-size: 0;
}
#Table1 .cell3
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 53px;
   height: 34px;
   color: #000000;
   font-family: "Times New Roman";
   font-size: 12px;
   line-height: 13.5px;
}
#wb_Image4
{
   margin: 0;
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Article1
{
   box-sizing: border-box;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 12px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 1.2;
}
#Article1 .blogitem
{
   padding: 0px;
   text-align: left;
}
#Article1 .blogdate
{
   font-family: "Times New Roman";
   font-weight: bold;
   font-size: 12px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#Article1 .blogsubject
{
   font-family: "Times New Roman";
   font-weight: bold;
   font-size: 12px;
   color: #666666;
   font-style: normal;
   text-decoration: none;
}
#Article1 .blogcomments
{
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 12px;
   color: #000000;
   font-style: normal;
   text-decoration: underline;
}
#Article1 .blogsubject a:link, #Article1 .blogsubject a:visited, #Article1 .blogsubject a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article1 .blogcomments a:link, #Article1 .blogcomments a:visited, #Article1 .blogcomments a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article1 .blogcomments
{
   text-decoration: none;
}
#Article1 .no-thumb
{
   display: none;
}
#Article1 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article1 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article1 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article1 .blogdate, #Article1 .blogcomments
{
   display: none;
}
#Article1
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   font-family: "Times New Roman";
   font-weight: normal;
   font-style: normal;
   margin: 0;
}
#Article2
{
   box-sizing: border-box;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 12px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 1.2;
}
#Article2 .blogitem
{
   padding: 0px;
   text-align: left;
}
#Article2 .blogdate
{
   font-family: "Times New Roman";
   font-weight: bold;
   font-size: 12px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#Article2 .blogsubject
{
   font-family: "Times New Roman";
   font-weight: bold;
   font-size: 12px;
   color: #666666;
   font-style: normal;
   text-decoration: none;
}
#Article2 .blogcomments
{
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 12px;
   color: #000000;
   font-style: normal;
   text-decoration: underline;
}
#Article2 .blogsubject a:link, #Article2 .blogsubject a:visited, #Article2 .blogsubject a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article2 .blogcomments a:link, #Article2 .blogcomments a:visited, #Article2 .blogcomments a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article2 .blogcomments
{
   text-decoration: none;
}
#Article2 .no-thumb
{
   display: none;
}
#Article2 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article2 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article2 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article2 .blogdate, #Article2 .blogcomments
{
   display: none;
}
#Article2
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   font-family: "Times New Roman";
   font-weight: normal;
   font-style: normal;
   margin: 0;
}
#wb_Image6
{
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#HorizontalLine2
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#Table2
{
   border-radius: 0px;
   border: 1px solid transparent;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table2 td, #Table2 th
{
   padding: 0;
}
#Table2 p, #Table2 ul
{
   margin: 0;
   padding: 0;
}
#Table2 .cell0
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 32px;
   height: 34px;
   font-size: 0;
}
#Table2 .cell1
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: middle;
   width: 70px;
   height: 34px;
   color: #000000;
   font-family: "Times New Roman";
   font-size: 12px;
   line-height: 13.5px;
}
#Table2 .cell2
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 52px;
   height: 34px;
   font-size: 0;
}
#wb_Image7
{
   margin: 0;
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Article3
{
   box-sizing: border-box;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 12px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 1.2;
}
#Article3 .blogitem
{
   padding: 0px;
   text-align: left;
}
#Article3 .blogdate
{
   font-family: "Times New Roman";
   font-weight: bold;
   font-size: 12px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#Article3 .blogsubject
{
   font-family: "Times New Roman";
   font-weight: bold;
   font-size: 12px;
   color: #666666;
   font-style: normal;
   text-decoration: none;
}
#Article3 .blogcomments
{
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 12px;
   color: #000000;
   font-style: normal;
   text-decoration: underline;
}
#Article3 .blogsubject a:link, #Article3 .blogsubject a:visited, #Article3 .blogsubject a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article3 .blogcomments a:link, #Article3 .blogcomments a:visited, #Article3 .blogcomments a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article3 .blogcomments
{
   text-decoration: none;
}
#Article3 .no-thumb
{
   display: none;
}
#Article3 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article3 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article3 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article3 .blogdate, #Article3 .blogcomments
{
   display: none;
}
#Article3
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   font-family: "Times New Roman";
   font-weight: normal;
   font-style: normal;
   margin: 0;
}
#wb_Image9
{
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#HorizontalLine3
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#Article4
{
   box-sizing: border-box;
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 12px;
   margin: 0;
   padding: 0;
   text-align: left;
   line-height: 1.2;
}
#Article4 .blogitem
{
   padding: 0px;
   text-align: left;
}
#Article4 .blogdate
{
   font-family: "Times New Roman";
   font-weight: bold;
   font-size: 12px;
   color: #000000;
   font-style: normal;
   text-decoration: none;
}
#Article4 .blogsubject
{
   font-family: "Times New Roman";
   font-weight: bold;
   font-size: 12px;
   color: #666666;
   font-style: normal;
   text-decoration: none;
}
#Article4 .blogcomments
{
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 12px;
   color: #000000;
   font-style: normal;
   text-decoration: underline;
}
#Article4 .blogsubject a:link, #Article4 .blogsubject a:visited, #Article4 .blogsubject a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article4 .blogcomments a:link, #Article4 .blogcomments a:visited, #Article4 .blogcomments a:hover
{
   color: inherit;
   text-decoration: inherit;
}
#Article4 .blogcomments
{
   text-decoration: none;
}
#Article4 .no-thumb
{
   display: none;
}
#Article4 .blogsubject
{
   display: block;
   margin: 0;
   padding: 0;
}
#Article4 .blogthumb
{
   margin: 0 0 5px 0;
   float: right;
   padding: 0 5px 0 0;
}
#Article4 .blogthumb img
{
   border-width: 0px;
   width: 120px;
   height: auto;
   margin: 0px 0px 0px 0px;
}
#Article4 .blogdate, #Article4 .blogcomments
{
   display: none;
}
#Article4
{
   background-color: transparent;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 0px;
   font-family: "Times New Roman";
   font-weight: normal;
   font-style: normal;
   margin: 0;
}
#wb_Image14
{
   vertical-align: top;
}
#Image14
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#Table5
{
   border-radius: 0px;
   border: 1px solid transparent;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table5 td, #Table5 th
{
   padding: 0;
}
#Table5 p, #Table5 ul
{
   margin: 0;
   padding: 0;
}
#Table5 .cell0
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 32px;
   height: 34px;
   font-size: 0;
}
#Table5 .cell1
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: middle;
   width: 70px;
   height: 34px;
   color: #000000;
   font-family: "Times New Roman";
   font-size: 12px;
   line-height: 13.5px;
}
#Table5 .cell2
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 52px;
   height: 34px;
   font-size: 0;
}
#wb_Image15
{
   margin: 0;
   vertical-align: top;
}
#Image15
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Table3
{
   border-radius: 0px;
   border: 1px solid transparent;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table3 td, #Table3 th
{
   padding: 0;
}
#Table3 p, #Table3 ul
{
   margin: 0;
   padding: 0;
}
#Table3 .cell0
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 32px;
   height: 34px;
   font-size: 0;
}
#Table3 .cell1
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: left;
   vertical-align: middle;
   width: 70px;
   height: 34px;
   color: #000000;
   font-family: "Times New Roman";
   font-size: 12px;
   line-height: 13.5px;
}
#Table3 .cell2
{
   background-color: transparent;
   background-image: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   border-top-style: solid;
   border-right-style: solid;
   border-bottom-style: solid;
   border-left-style: solid;
   border-top-color: #000000;
   border-right-color: #000000;
   border-bottom-color: #000000;
   border-left-color: #000000;
   text-align: center;
   vertical-align: middle;
   width: 52px;
   height: 34px;
   font-size: 0;
}
#wb_Image10
{
   margin: 0;
   vertical-align: top;
}
#Image10
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image12
{
   vertical-align: top;
}
#Image12
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: right;
}
#wb_Text5 div
{
   text-align: right;
}
#Layer2
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px dashed #000000;
   border-radius: 0px;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Image13
{
   vertical-align: top;
}
#Image13
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image17
{
   vertical-align: top;
}
#Image17
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Image18
{
   vertical-align: top;
}
#Image18
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer3
{
   background-color: #FFFFFF;
   background-image: none;
   border: 1px dashed #000000;
   border-radius: 0px;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Image19
{
   vertical-align: top;
}
#Image19
{
   border: 1px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text13 div
{
   text-align: left;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text14 div
{
   text-align: left;
}
#wb_Image20
{
   vertical-align: top;
}
#Image20
{
   border: 1px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text15 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text15 div
{
   text-align: left;
}
#wb_Image21
{
   vertical-align: top;
}
#Image21
{
   border: 1px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text16 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text16 div
{
   text-align: left;
}
#wb_Text17 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text17 div
{
   text-align: left;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text18 div
{
   text-align: left;
}
#wb_Text19 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text19 div
{
   text-align: left;
}
#wb_Image22
{
   vertical-align: top;
}
#Image22
{
   border: 1px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text20 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text20 div
{
   text-align: left;
}
#wb_Text21 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text21 div
{
   text-align: left;
}
#wb_Text22 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text22 div
{
   text-align: left;
}
#wb_Text23 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text23 div
{
   text-align: left;
}
#wb_Image23
{
   vertical-align: top;
}
#Image23
{
   border: 1px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text24 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text24 div
{
   text-align: left;
}
#wb_Text25 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text25 div
{
   text-align: left;
}
#wb_Text26 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text26 div
{
   text-align: left;
}
#wb_Text27 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text27 div
{
   text-align: left;
}
#wb_Image5
{
   margin: 0;
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 32px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
